<div class="m-5">
  <div class="flex justify-center my-3">
    <div>
      <span class="text-2xl">Limpiador</span>
    </div>
  </div>
  <div class="grid xl:grid-cols-2 sm:grid-cols-1 gap-4">
    <div>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Envio</mat-label>
        <textarea matInput type="text" class="bg-transparent" rows="15" [formControl]="envio"></textarea>
        <button *ngIf="envio.value" matSuffix mat-icon-button aria-label="Clear" (click)="envio.reset()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="w-full" *ngIf="resultado.value">
        <mat-label>Resultado</mat-label>
        <textarea matInput type="text" class="bg-transparent" rows="15" [formControl]="resultado"></textarea>
        <button *ngIf="resultado.value" matSuffix mat-icon-button aria-label="Clear" (click)="resultado.reset()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <ng-container *ngIf="cargando">
        <div class="flex justify-center my-3">
          <div>
            <mat-spinner></mat-spinner>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="flex justify-center">
    <div>
      <button mat-button style="border: 2px solid" class="border-2 border-gray-900 rounded-lg text-gray-900 hover:bg-gray-900 hover:text-white" (click)="limpiar()">
        Limpiar
      </button>
    </div>
  </div>
</div>